<div class="left-sidebar-menu">
  <div class="nav-title">
    <div class="frame-icon">
      <img src="{{{uiRootPath}}}/img/server-icon.png" alt="">
    </div>
    <div class="frame-body">
      <h4 class="title">
        <span class="">
          Server
        </span>
      </h4>
    </div>
  </div>
  
  <div class="nav-menu">
    {{> nav-version-control}}
    {{> nav-tree navigation=page.navigation level=0 crumbLevel=0 crumbAtLevel=(lookup page.breadcrumbs 0)}}
  </div>
  <a href="#" class="menu-expand-toggle"> <span>Navigation</span> <i class="fas fa-times-circle"></i> <i class="fas fa-chevron-circle-left"></i></a>
</div>