{{!-- <nav class="nav">
{{#if page.navigation}}
  {{> nav-menu}}
{{/if}}
</nav> --}}

<div class="nav-container-wrap" {{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav-container">
    <div class="panels">
      {{> nav-menu}}
    </div>
  </aside>
</div>