{{!--
<nav class="nav">
{{#if page.navigation}}
{{> nav-menu}}
{{/if}}
</nav>
--}}
<div class="nav-container-wrap">
  <aside class="nav-container">
    <div class="panels">
    </div>
  </aside>
</div>
