<div class="sdk-toolbar">
  <h2 class="sdk-title">Go to Other SDK</h2>
  <select>
    <option>C SDK</option>
    <option>.NET SDK</option>
    <option>Go SDK</option>
    <option>Java SDK</option>
    <option>Node.js SDK</option>
    <option>PHP SDK</option>
    <option>Python SDK</option>
    <option>Ruby SDK</option>
  </select>
</div>
