.algolia-autocomplete .ds-dropdown-menu {
  border: 1px solid #d9d9d9;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0.75rem;
  max-width: none;
  width: 100%;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: 0;
  border-radius: 0;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  overflow: auto;
  max-height: calc(100vh - var(--height-navbar) - 2.5rem);
  margin: 0 -0.5rem;
  padding: 0.5rem;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar {
  width: 0.25rem;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
}

/* instant search override css */
.searchbox-wrap {
  position: relative;
}

.hit-container {
  position: absolute;
  right: 0 !important;
  left: inherit;
  min-width: 500px;
  background: #fff;
  top: 100%;
  border: 1px solid #d9d9d9;
  height: 350px;
  overflow-y: auto;
  padding: 15px 20px;
}

.hit-container ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hit-container ol li {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.search-title,
.search-meta {
  font-weight: 700;
  color: #737373;
}

.search-content {
  display: block;
  margin: 10px 0;
  color: #7b7b7b;
}

.search-meta span {
  margin-right: 10px;
  /* font-weight: 600; */
  text-transform: capitalize;
  display: inline-block;
}
